.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    width: 100%;
}