.pageRange {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconBtn {
    border-radius: 30px;
    background: none;
    margin: 1em;
    display: flex;
    align-items: center;
}